{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <a href="{% url 'todos_list' %}">{{ todo_list.name }}</a>
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todolist_list %}
                <tr>
                    <td>{{ todo_list.name }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}